img {
    width: 250px;
}

header{
background-color: rgb(246, 247, 247);
color: black;
text-decoration: center  ;
max-height: 800px ;
margin: 0 auto ;
padding: 16px ;
}

main {
    background-color: aliceblue;
    color: black;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

.artigo-autor {
    font-weight: bold;
}

article{
    display:flex ;
}